<div class="footer">
    <div class="container">

        <div class="col-md-5 our-st" style="margin-left: 70%;">
            <div class="our-left">
                <h4>OUR STORES</h4>
            </div>
            <div class="our-left1">
                <div class="cr_btn">
                    <a href="#">SOLO</a>
                </div>
            </div>
            <div class="our-left1">
                <div class="cr_btn1">
                    <a href="#">BOGOR</a>
                </div>
            </div>
            <div class="clearfix"> </div>
            <li><i class="add"> </i>Dịch Vọng - Cầu Giấy - Hà Nội</li>
            <li><i class="phone"> </i>0964 *** ***</li>
            <li><a href="nam.qc.54@gmail.com"><i class="mail"> </i>nam.qc.54@gmail.com </a></li>
        </div>
    </div>
</div>