<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="head-t">
                <div class="logo">
                    <a href="index"><img src="~/Content/images/logo.png" class="img-responsive" alt="" /> </a>
                </div>
                <!-- start header_right -->
                <div class="header_right">
                    <div class="rgt-bottom">
                        <div class="log">
                            <div class="login">
                                <div id="loginContainer">
                                    <a href="login" id="loginButton"><span>Login</span></a>
                                    <div id="loginBox">
                                        <form id="loginForm">
                                            <fieldset id="body">
                                                <fieldset>
                                                    <label for="email">Email Address</label>
                                                    <input type="text" name="email" id="email">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="password">Password</label>
                                                    <input type="password" name="password" id="password">
                                                </fieldset>
                                                <input type="submit" id="login" value="Sign in">
                                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                            </fieldset>
                                            <span><a href="#">Forgot your password?</a></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reg">
                            <a href="register">REGISTER</a>
                        </div>
                        <div class="cart box_1">
                            <a href="checkout">
                                <h3> <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> items)<img src="~/Content/images/bag.png" alt=""></h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">(empty card)</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="create_btn">
                            <a href="checkout">CHECKOUT</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="search">
                        <form>
                            <input type="text" value="" placeholder="search...">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color1" href="index">Home</a></li>
                <li>
                    <a class="color6" href="#">SHOES</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>NIKE</h4>
                                    <ul>
                                        <li><a href="women">Wowmens</a></li>
                                        <li><a href="women">Jordan</a></li>
                                        <li><a href="women">White</a></li>
                                        <li><a href="women">Mens</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>ADIDAS</h4>
                                    <ul>
                                        <li><a href="women">Superstar</a></li>
                                        <li><a href="women">Yeezy</a></li>
                                        <li><a href="women">NMD</a></li>
                                        <li><a href="women">Wonmens</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>ASICS</h4>
                                    <ul>
                                        <li><a href="women">Tiger</a></li>
                                        <li><a href="women">Mens</a></li>
                                        <li><a href="women">Blue</a></li>
                                        <li><a href="women">Gel Quantum 360</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <a class="color7" href="#">GLASSES</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Other</h4>
                                    <ul>
                                        <li><a href="women">DOLCE & GABBANA</a></li>
                                        <li><a href="women">GUCCI</a></li>
                                        <li><a href="women">DIOR</a></li>
                                        <li><a href="women">PRADA</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>

                <li>
                    <a class="color8" href="#">Clothing</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Man</h4>
                                    <ul>
                                        <li><a href="women">Shirt</a></li>
                                        <li><a href="women">Trousers</a></li>
                                        <li><a href="women">T-Shirt</a></li>
                                        <li><a href="women">Suit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Kids</h4>
                                    <ul>
                                        <li><a href="women">T-Shirt</a></li>
                                        <li><a href="women">Jean</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Women</h4>
                                    <ul>
                                        <li><a href="women">Dress</a></li>
                                        <li><a href="women">Skirt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>